# Default ignored files
/../../../:Assistent_test/.idea/shelf/
/../../../:Assistent_test/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:Assistent_test/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:Assistent_test/.idea/dataSources/
/../../../:Assistent_test/.idea/dataSources.local.xml
